/*fonts*/
h3 {
    font-family: roc-grotesk, sans-serif;
    font-size: 1.5vw;
}

p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 100;
}


/*about overskrift*/
#abouthead {
    font-family: mencken-std-head-compress, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
    margin-right: 10vw;
}

/*profilbillede*/
#profilbillede {
    height: 35vw;
    width: auto;
    margin-left: 48vw;
}

/*about*/
#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vw;
}

#about p {
    line-height: 1.6;
    font-weight: 250;
}

#about h3 {
    text-align: right;
}

/*KEA projekter*/
#kea h3 {
    margin-left: 3vw;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu img {
    height: 43vw;
    width: auto;
}

div.scrollmenu a {
    display: inline-block;
}

div.scrollmenu a:hover {
    background-color: orange;
}

/*scroll left devil*/
.devil_container {
    display: flex;
    align-items: center;
    margin-left: 67vw;
    margin-top: 0;
}

.devil_container h3 {
    font-size: 1vw;
}

.devil {
    height: 2vw;
    width: auto;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/*contact*/
#contact p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-size: 4vw;
    margin-left: 15vw;
    margin-right: 10vw;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10vw;
    margin-top: 5vw;
}

footer a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;

}

footer a:hover {
    text-decoration: line-through;
    text-decoration-color: orange;
}


/*INK galleri*/
#galleri_wrapper {
    overflow: auto;
    white-space: nowrap;
}

#galleri_wrapper img {
    display: inline-block;
    height: 50vw;
    width: auto;
     filter: grayscale(100%);
    padding: 1vw;
}

/*paintings galleri*/
#galleri_wrapper2 {
    overflow: auto;
    white-space: nowrap;
}

#galleri_wrapper2 img {
    height: 45vw;
    width: auto;
}

#galleri_wrapper2 div {
    display: inline-block;
}


/*MEDEIAQ TIL MOBIL*/
@media only screen and (max-width: 768px) {
    .devil {
        height: 3vw;}

    .devil_container h3 {
    font-size: 2vw;
}
   #contact p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-size: 6vw;
    margin-left: 15vw;
    margin-right: 10vw;
}
    footer a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-size: 5vw;
    color: black;

}
    div.scrollmenu img {
    height: 80vw;
    width: auto;
}
    h3 {
        font-family: roc-grotesk, sans-serif;
        font-size: 3vw;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5vw;
    }

    #about h3 {
        text-align: left;
    }


}
