
/*fonts*/
h3 {
    font-family: roc-grotesk, sans-serif;
    font-size: 1.5vw;
}

p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 100;
}


/*about overskrift*/
#abouthead {
    font-family: mencken-std-head-compress, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
    margin-right: 10vw;
}

/*profilbillede*/
#profilbillede {
    height: 35vw;
    width: auto;
    margin-left: 48vw;
}

/*about*/
#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vw;
}

#about p {
    line-height: 1.6;
    font-weight: 250;
}

#about h3 {
    text-align: right;
}

/*KEA projekter*/
#kea h3{
    margin-left: 3vw;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu img {
    height: 46vw;
    width: auto;
}

div.scrollmenu a {
    display: inline-block;
}

div.scrollmenu a:hover {
    background-color: orange;
}

/*contact*/
#contact p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-size: 4vw;
    margin-left: 15vw;
    margin-right: 10vw;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10vw;
}

footer a {
    text-decoration: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;

}

footer a:hover {
    text-decoration: line-through;
    text-decoration-color: orange;
}
