/*fonts*/
h3 {
    font-family: roc-grotesk, sans-serif;
    font-size: 1vw;
}

p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 100;
}

/*webhead*/
#uxhead {
    font-family: mencken-std-head-compress, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11vw;
    text-transform: uppercase;
    margin-bottom: 4vw;
}

/*ux beskrivelse*/
#ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10vw;
}

#ux p {
    line-height: 1.6;
    font-weight: 250;
    margin-right: 6vw;
}

#ux h3 {
    text-align: right;
    margin-right: 3vw;
}

/*moodboard og styletile*/
#imgsection1 {
    margin-left: 25vw;
    padding: 6vw;
}

#imgsection1 img {
    height: auto;
    width: 50vw;
    padding-bottom: 2vw;

}

#imgsection1 h3 {
    padding-bottom: 2vw;
}

/*billede af skitser*/
#imgsection2 {
    padding-left: 6vw;
    padding-bottom: 10vw;

}

#imgsection2 img {
    height: auto;
    width: 60vw;
}

/*link til prototype i footer*/
footer {
    padding-bottom: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;
}

footer a:hover {
    text-decoration: line-through;
    text-decoration-color: orange;
}

/*MEDIAQ MOBIL*/
@media only screen and (max-width: 768px) {
    footer a{
        font-size: 5vw;
    }
    #imgsection1 {
        margin-left: 0vw;
        padding: 6vw;
    }

    #imgsection1 img {
        height: auto;
        width: 80vw;
        padding-bottom: 2vw;

    }

    #ux h3 {
        text-align: left;
        margin-right: 3vw;
    }

    #ux {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10vw;
    }

    h3 {
        font-family: roc-grotesk, sans-serif;
        font-size: 3vw;
    }

    #imgsection2 img {
        height: auto;
        width: 90vw;
    }

    #imgsection2 {
        margin: 0;
        margin-left: 0vw;
        padding-bottom: 10vw;

    }


}
