* {
    margin: 0;
}

/*fonts*/
h3 {
    font-family: roc-grotesk, sans-serif;
    font-size: 1vw;
}

p {
    font-family: roc-grotesk, sans-serif;
    font-weight: 100;
}

/*webhead*/
#webhead {
    font-family: mencken-std-head-compress, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
}

/*webbeskrivelse*/
#web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10vw;
}

#web p {
    line-height: 1.6;
    font-weight: 250;
    margin-right: 6vw;
}

#web h3 {
    text-align: right;
    margin-right: 3vw;
}

/*moodboard og styletile*/
#imgsection1 {
    margin: 7vw;
}

#imgsection1 h3 {
    margin-bottom: 2vw;
}

#imgsection1 .img1,
.img2 {
    height: auto;
    width: 35vw;
}

/*mockupbillede*/
#imgsection2 {
    position: relative;
    left: 53vw;
    margin-bottom: 7vw;
}

#imgsection2 img {
    height: auto;
    width: 40vw;
}

#imgsection2 h3 {
    margin-bottom: 2vw;
}

/*billede af splash*/
#imgsection3 {
    margin-left: 15vw;
    margin-bottom: 7vw;

}

#imgsection3 img {
    height: auto;
    width: 50vw;
}

#imgsection3 h3 {
    margin-bottom: 2vw;
}

/*billede af ikon*/
#imgsection4 {
    position: relative;
    left: 39vw;
    margin-bottom: 10vw;
}

#imgsection4 img {
    height: auto;
    width: 20vw;

}

#imgsection4 h3 {
    margin-bottom: 2vw;
}

/*link til site i footer*/
footer {
    margin-bottom: 10vw;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: black;
}

footer a:hover {
    text-decoration: line-through;
    text-decoration-color: orange;
}
